/* Standart styles */
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14pt;
    margin: 0;
    min-width: 1280px;
}

/* Bohdan Kishchak START */

/* Bohdan Kishchak END */


/* Nastia Bila START */

/* Nastia Bila END */


/* Leonid Prorubshchykov START */

/* Leonid Prorubshchykov END */


/* ViktorSurkov START */

/* Viktor Surkov END */


/* Roman Mrychko START */

/* Roman Mrychko END */
