/* Standart styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,700);
body {
    font-family: Open Sans, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin: 0;
    min-width: 1280px;
    box-sizing: border-box;;
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
    outline: none;
}

/* Bohdan Kishchak START */

/* Bohdan Kishchak END */


/* Nastia Bila START */

/* Nastia Bila END */


/* Leonid Prorubshchykov START */

/* Leonid Prorubshchykov END */


/* ViktorSurkov START */

/* Viktor Surkov END */


/* Roman Mrychko START */

/* Roman Mrychko END */
